.wrap {
  position: relative;
}

.listItem {
  display: flex;
  height: 100px;
  padding: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.listItemImage {
  width: 90.6666666px;
}

.listItemContent {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.listItemTitle {
  font-size: 16px;
  font-weight: 500;
}

.listItemSub {
  font-size: 12px;
  font-weight: 400;
}

.listItemCost {
  margin-top: auto;
  color: #34a853;
  font-size: 16px;
  font-weight: 500;
}

.filters {
  background-color: #e0e0e0;

  visibility: hidden;
  display: none;
}

.filterWide {
  flex: 2;
}

.filterNarrow {
  flex: 1;
}

.filterSupperNarrow {
  flex: 0 1;
}

.wrapWrap {
  display: flex;
  font-size: 14px;
  align-items: center;
  height: 100%;
}

.numberLeft {
  text-align: right;
  flex-shrink: 0;
  min-width: 25px;
  margin-left: 16px;
}
.numberRight {
  text-align: left;
  flex-shrink: 0;
  min-width: 35px;
  margin-right: 16px;
}

.sliderWrap {
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
}

@media (min-width: 1250px) {
  .filters {
    visibility: visible;
    display: flex;
  }
}
