.content {
  position: relative;
  padding: 24px;
  width: 100%;
  padding-top: 4rem;
  background-color: #ffffff;
}

.content > h1 {
  font-size: 2.625rem;
  line-height: 3.125rem;
  font-weight: 600;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 4px;
}

.content > p {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px;
}

.content > button {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 36px;
  background: transparent;
  border: none;
  padding: 0;
  color: #1b68fa;
}

.logoImage {
  width: 2rem;
  margin-right: 16px;
  transform: rotate(-45deg);
}

.logoText {
  font-size: 1rem;
  font-weight: 700;
}

.searchIcon {
  fill: "#393939";
  margin-left: auto;
  width: 1.25rem;
}

.imageContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  grid-gap: 2px;
  position: relative;
  /* bottom: initial; */
  /* left: 0;
  right: 0; */
}

.image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.map {
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
}

.titlebar {
  z-index: 100;
  background-color: #ffffff;
  position: fixed;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  /* padding: 0 24px; */
}

.homeLink {
  display: flex;
  align-items: center;
  color: #161616;
  text-decoration: none;
  margin-left: 24px;
}

.homeLinkActive {
  display: none;
}

.searchIconWrapperBase {
  position: absolute;
  left: 24px;
  right: 24px;
  top: 0;
  transition: all 300ms;
}

.searchIconWrapper {
  composes: searchIconWrapperBase;
}

.searchIcon {
  position: absolute;
  fill: "#393939";
  /* color: rgb(22, 22, 22); */
  right: 0px;
  top: 22px;
  height: 20px;
  width: 20px;
  transition: all 300ms;
  cursor: pointer;
}

.searchIconWrapperActive {
  composes: searchIconWrapperBase;
  transform: translate(-100%, 0);
}

.searchIconWrapperActive .searchIcon {
  transform: translate(100%, 0);
}

@media (min-width: 1250px) {
  .imageContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 24px 24px 24px;
    grid-gap: 2px;
    position: absolute;
    bottom: 300px;
    left: 0;
    right: 0;
  }

  .content {
    position: absolute;
    padding: 24px;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 4rem;
    background-color: #ffffff;
  }

  .titlebar {
    width: 464px;
  }

  .map {
    visibility: visible;
  }
}
