language: node_js

sudo: false

node_js:
  - 10

jobs:
  include:
    - stage: "linting"
      name: "Destination ES Linting"
      script: cd src/destination && npm install && ./node_modules/.bin/eslint src/
    - stage: "linting"
      name: "UI client ES Linting"
      script:
        - cd src/ui && npm install && cd ../..
        - cd src/ui/client && npm install && ./node_modules/.bin/eslint src/
    - stage: "testing"
      name: "NPM testing"
      script: cd src/destination && npm install && npm test
