.container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 464px;
}

.titlebar {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  /* padding: 0 24px; */
}

.content {
  padding: 24px;
}

.content > h1 {
  font-size: 2.625rem;
  line-height: 3.125rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 4px;
}

.content > p {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px;
}

.content > button {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 36px;
  background: transparent;
  border: none;
  padding: 0;
  color: #1b68fa;
}

.homeLink {
  display: flex;
  align-items: center;
  color: #161616;
  text-decoration: none;
  margin-left: 24px;
}

.homeLinkActive {
  display: none;
}

.logoImage {
  width: 2rem;
  margin-right: 16px;
  transform: rotate(-45deg);
}

.logoText {
  font-size: 1rem;
  font-weight: 700;
}

/* .searchIcon {
  fill: var(--text-02);
  margin-left: auto;
  width: 1.25rem;
} */

.searchIconWrapperBase {
  position: absolute;
  left: 24px;
  right: 24px;
  top: 0;
  /* border: 1px solid red; */
  transition: all 300ms;
}

.searchIconWrapper {
  composes: searchIconWrapperBase;
}

.searchIcon {
  position: absolute;
  fill: var(--text-02);
  /* color: rgb(22, 22, 22); */
  right: 0px;
  top: 22px;
  height: 20px;
  width: 20px;
  transition: all 300ms;
}

.searchIconWrapperActive {
  composes: searchIconWrapperBase;
  transform: translate(-100%, 0);
}

.searchIconWrapperActive .searchIcon {
  transform: translate(100%, 0);
}

.imageContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 24px 24px 24px;
  grid-gap: 2px;
  position: absolute;
  bottom: 261px;
  left: 0;
  right: 0;
}

.image {
  width: 100%;
  height: 143px;
  object-fit: cover;
}

.map {
  height: 261px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
