.itemWrap {
  cursor: pointer;
}

.itemWrap:hover {
  background-color: #e5e5e5;
}

.itemWrap:focus {
  outline: none;
}

.item {
  margin: 0 16px;
  border-top: 1px solid #e0e0e0;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.itemWrap:first-of-type .item {
  border-top-color: transparent;
}

.itemWrap:hover + .itemWrap .item {
  border-top-color: transparent;
}

.itemWrap:hover .item {
  border-top-color: transparent;
}

.label {
  margin-left: 6px;
}
