body {
  margin: 0;
  font-family: "ibm-plex-sans", Helvetica Neue, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

body.light {
  --ui-background: #ffffff;
  --interactive-01: #0f62fe;
  --interactive-02: #393939;
  --interactive-03: #0f62fe;
  --interactive-04: #0f62fe;
  --danger: #da1e28;
  --ui-01: #f4f4f4;
  --ui-02: #ffffff;
  --ui-03: #e0e0e0;
  --ui-04: #8d8d8d;
  --ui-05: #161616;
  --text-01: #161616;
  --text-02: #393939;
  --text-03: #a8a8a8;
  --text-04: #ffffff;
  --text-05: #6f6f6f;
}

* {
  box-sizing: border-box;
}
