body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.col .react-autosuggest__input {
  width: 240px;
}

.col .react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 240px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-size: 14px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 2;
}

.col-md-6 .react-autosuggest__input {
  width: 750px;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 24px;
}

.col-md-6 .react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 750px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-size: 14px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 14px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
